body{
  background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlTFxsjz82wvmGTDkfKGY9HEtS-xSsmNoxRkxtIbz-6Kzn1PkAmwfv5uM&s=10);
  background-repeat: no-repeat;
  background-size: cover;
}

#headers{
  color: white ;
}

#headers ul li a{
  color: white ;
  text-decoration: none;
  transition: .3s ease;
}

#headers ul li a:hover{
  color:red;
  text-decoration: underline;
}

#home h1{
  color:white;
  text-decoration: underline;
}

#home p{
  color:red;
  font-weight: bold;
}

.courses h2{
  color:white;
  text-decoration: underline;
}

.courses p{
  color:blue;
}

.courses ol li{
  color:white;
  font-weight: bold;
}

.about h1{
  color:white;
  text-decoration: underline;
}

.about p{
  color:white;
  font-weight: bolder;
}

.getintouch h1{
  color:white;
  text-decoration: underline;
}

.getintouch p{
  color: blue;
}

.getintouch p a{
  color:white;
  font-weight: bold;
  text-decoration: none;
}

.getintouch p a:hover{
  color:red;
  text-decoration: underline;
}

.copy{
  color:white;
}
